<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>See your drinktickets</h2>
      <p>Here you can see how many drinktickets you have. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Use your drinktickets</h2>
      <p>Explanation for how to use your drinktickets. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Give away your drinktickets</h2>
      <p>Explanation for how to give away your drinktickets.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2017 Claremont, AB.</p>
  </footer>
</div> <!-- /container -->